---
---
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
        {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
          {%- endif -%}
        {%- elsif entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
            {%- assign venue_style = nil -%}
            {%- if site.data.venues[entry.abbr].color != blank -%}
              {%- assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' -%}
            {%- endif -%}
            <abbr class="badge" {% if venue_style %}{{venue_style}}{% endif %}><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
            <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-9">
     
          {% if entry.url %}
          <span class="title" style="font-size: 15.5px;"> <a href="{{entry.url}}">{{entry.title}}</a></span>
          {% else %}
          <span class="title" style="font-size: 15.5px;">{{entry.title}}</span>
          {% endif %}
          <br/>
          <span class="periodical">
            <nobr style="color:darkcyan; font-weight: 600;">
              {% if entry.abbr %}
              {% if site.data.venues[entry.abbr] %}
              <a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}},
                {% else %}
                {{entry.abbr}},
                {% endif %}
                {% endif %}
            </nobr>
            {% if entry.additional %}
            {% if entry.type == "article" %}
            <em>{{entry.journal}},</em>
            {% elsif entry.type == "inproceedings" %}
            <em>In {{entry.booktitle}},</em>
            {% endif %}
            <b style="color:darkred">{{entry.additional}}.</b>
            {% else %}
            {% if entry.type == "article" %}
            <em>{{entry.journal}}.</em>
            {% elsif entry.type == "inproceedings" %}
            <em>In {{entry.booktitle}}.</em>
            {% endif %}
            {% endif %}
            <!-- {% if entry.year %}
              {{entry.year}}
            {% endif %} -->
      
            <nobr class="links" style="font-weight: 600;">
              {% if entry.abstract %}
              [<a class="abstract">abstract</a>]
              {% endif %}
              {% if entry.arxiv %}
              [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
              {% endif %}
              {% if entry.html %}
              [<a href="{{ entry.html }}" target="_blank">website</a>]
              {% endif %}
              {% if entry.pdf %}
              [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" target="_blank">PDF</a>]
              {% endif %}
              {% if entry.supp %}
              [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>]
              {% endif %}
              {% if entry.poster %}
              [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>]
              {% endif %}
              {% if entry.slides %}
              [<a href="{{ entry.slides | prepend: '/assets/slides/' | relative_url }}" target="_blank">slides</a>]
              {% endif %}
              {% if entry.code %}
              [<a href="{{ entry.code }}" target="_blank">code</a>]
              {% endif %}
              {% if entry.blog %}
              [<a href="{{ entry.blog }}" target="_blank">blog</a>]
              {% endif %}
              {% if entry.colab %}
              [<a href="{{ entry.colab }}" target="_blank">colab</a>]
              {% endif %}
            </nobr>
      
          </span>
      
          {% if entry.workshop %}
          <span class="periodical">
          <em>Short version in {{ entry.workshop }}.</em>  
          </span>
          {% endif %}
          
          <br/>
          {% if entry.type == "thesis" %}
          {{reference}}
          {% else %}

          <!-- <span class="author col-sm-10" style="padding-left: 0px;">
            {% for author in entry.author_array %}
            {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
            <em>{{author.first}} {{author.last}}</em>
            {% else %}
            {{author.first}} {{author.last}}
            {% endif %}
            {% else %}
            {% unless forloop.last %}
            {% if author.first == site.scholar.first_name %}
            <em>{{author.first}} {{author.last}}</em>,
            {% else %}
            {% if site.data.coauthors[author.last] %}
            <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
            {% else %}
            {{author.first}} {{author.last}},
            {% endif %}
            {% endif %}
            {% else %}
            {% if author.last == site.scholar.last_name %}
            <em>{{author.first}} {{author.last}}</em>
            {% else %}
            {% if site.data.coauthors[author.last] %}
            <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
            {% else %}
            {{author.first}} {{author.last}}
            {% endif %}
            {% endif %}
            {% endunless %}
            {% endif %}
            {% endfor %}
          
          </span> -->
          
          <div class="author">
            {% assign author_array_size = entry.author_array | size %}
    
            {% assign author_array_limit = author_array_size %}
            {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
              {% assign author_array_limit = site.max_author_limit %}
            {% endif %}
    
            {%- for author in entry.author_array limit: author_array_limit -%}
              {%- assign author_is_self = false -%}
              {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
              {%- if site.scholar.last_name contains author_last_name -%}
                {%- if site.scholar.first_name contains author.first -%}
                  {%- assign author_is_self = true -%}
                {%- endif -%}
              {%- endif -%}
              {%- assign coauthor_url = nil -%}
              {%- if site.data.coauthors[author_last_name] -%}
                {%- for coauthor in site.data.coauthors[author_last_name] -%}
                  {%- if coauthor.firstname contains author.first -%}
                    {%- assign coauthor_url = coauthor.url -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
    
              {%- if forloop.length > 1 -%}
                {%- if forloop.first == false -%},&nbsp;{%- endif -%}
                {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
              {%- endif -%}
              {%- if author_is_self -%}
                <em>{{author.first}} {{author.last}}</em>
              {%- else -%}
                {%- if coauthor_url -%}
                  <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
                {%- else -%}
                  {{author.first}} {{author.last}}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
            {%- assign more_authors = author_array_size | minus: author_array_limit -%}
    
            {%- assign more_authors_hide = more_authors | append: " more author" -%}
            {%- if more_authors > 0 -%}
              {%- if more_authors > 1 -%}
                {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
              {%- endif -%}
              {%- assign more_authors_show = '' -%}
              {%- for author in entry.author_array offset: author_array_limit -%}
                {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
                {%- unless forloop.last -%}
                  {%- assign more_authors_show = more_authors_show | append: ", " -%}
                {%- endunless -%}
              {%- endfor -%}
              , and
              <span
                  class="more-authors"
                  title="click to view {{more_authors_hide}}"
                  onclick="
                    var element = $(this);
                    element.attr('title', '');
                    var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                    var cursorPosition = 0;
                    var textAdder = setInterval(function(){
                      element.text(more_authors_text.substring(0, cursorPosition + 1));
                      if (++cursorPosition == more_authors_text.length){
                        clearInterval(textAdder);
                      }
                  }, '{{site.more_authors_animation_delay}}');
                  "
              >{{more_authors_hide}}</span>
            {%- endif -%}
    
            </div>
          {% endif %}
      
      
          <!-- Hidden abstract block -->
          {% if entry.abstract %}
          <span class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </span>
          {% endif %}
        </div>
      </div>
